* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100vh;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.Logo{
  color:rgb(240, 83, 83);
}

.list-main {
  display: flex;
}
.list-item {
  display: inline-block;
  text-align: center !important;
padding: 10px 10px;  

}
.sub-menu {
  display: flex;
}
.list-sub-item {
  display: inline-block;
  padding: 10px;
}

/* Login Form */

.loginForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
}


/* @media 300 and 700 navbar */
@media only screen and (max-width: 744px) {

body{
text-align: center !important;
}   
 .main-navbar {
  display: block !important;
  margin: auto !important;
  padding: 20px 3%;
}
.navbar-brand {margin-bottom: 10px!important;
  text-align: center;
}
.list-main{
  display: flex;
  text-align: center !important;
  justify-content: center;
}
.list-item {
  text-align: center !important; }
.list-sub{
  text-align: center !important;
}
.nav-hr{
  visibility: hidden;
}
}
/* home */

.main-home{
  display: flex;
  padding:  0;
  
}
.content{

  width:50%;
  color: #414143;
  background-color:#E2DCD9;
}

/* Left Content */

.content-container{
  margin:7% 10% ;
  

}
.logo-content {
  width: 50%;
  display: flex;
  margin: 0 auto 5% auto;
  border-radius: 50%;
}

.content-p1{
  margin-left: 1%;
}
.container-sub{
  display:flex;
  margin:5% 0 5% 10%;
}

.image{
  width: 50%;   
padding: 1%;
 border-radius: 12%;
}
.container-form{
margin: 3rem 0;
  justify-content: center;
}


/* Right Content */
.sub-container{
  margin:5% 1% 1% 3% ;
  position: relative;
}
.image-right{
 
  width:100%;
  height: auto;
  border-radius: 2px;
  margin:0 0 5% 8;

}

/* mobile tablet */
@media screen and (max-width: 900px) {
.content-left{
  width:100%;
  text-align: center;
}

.container-sub{
  margin: 0 0 5% 0;
  padding:0 5%;
}
  .content-right{
  display: none;
}

}